/*reset*/
html, body, header, h1, h2, div, main, section, label, ul, li, form, input {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  color: inherit;
  background: transparent;
}

body {
  font-family: sans-serif;
}

ul {
  list-style: none;
}

h1 {
  font-size: 24px;
}

input[type="text"] {
    -webkit-appearance: none;
    display: inline-block;
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    width: auto;
    font: inherit;
    vertical-align: baseline;
    background: transparent;
    color: inherit;
}

  /*clear fix*/
.group:after {
  clear: both;
  display: block;
  content: "";
}

/*site header*/
.site-header{
  /*background: darkblue;*/
  background-color: #313949;
  border-bottom: 1px solid #263140;
}


.site-header > h1 {
  color: white;
  font-weight: bold;
  text-align: center;
}

.site-header > .user {
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  height: 30px;
}

/*sidebar*/
.chat-commands {
  padding-bottom: 20px;
}

.chat-commands > h2 {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 5px;
}


label[for=room-list] {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 5px;
}

#room-list {
  padding-bottom: 20px;
}

label[for=user-list] {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 5px;
}

#user-list {
  padding-bottom: 20px;
}

/*site-main*/
.site-sidebar {
  float: left;
  height: calc(100% - 61px);
  width: 400px;
  background: lightgreen;
  background-color: #f7f7f7;
  border: 1px solid #9d9d9d;
  overflow: auto;
}

.room-main {
  height: calc(100% - 61px);
  background: #f5f5f5;
  background: lightyellow;
  overflow: auto;
}


/*room main*/
.room-header {
  background-color: #fff;
  background-image: linear-gradient(#fff, #f5f5f5);
  border: 1px solid #9d9d9d;
  height: 25px;
}
.room-header > .room {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

/*room-content*/
.room-chat {
  height: calc(100% - 29px);;
  overflow: auto;
  word-break: break-all; 
  word-wrap: break-word;
}

.room-info {
  float: right;
  height: calc(100% - 29px);
  width: 200px;
  overflow: auto;
  background: orange; 
  background-color: #fff;
  border: 1px solid #9d9d9d;
}

label[for=room-user-list] {
  display: block;
  padding-bottom: 5px;
}

/*chat log*/
.chat-log-item-message {
  margin-left: 10px;
}

#messages-from-server {
  padding-bottom: 20px;
}

#chat-log {
  padding-bottom: 20px;
}

.room-chat-content {
   min-height: 100%;
   margin-bottom: -82px;
}

.room-chat-content:after {
  content: "";
  display: block;
  height: 82px;
}

.room-chat-input {
  min-width: 1015px;
  height: 40px;
  padding: 20px;
  border: 1px solid #9d9d9d;
  background-image: linear-gradient(#fff, #d9d9d9);
}

.room-chat-input > input[type=submit] {
  background-image: linear-gradient(#fff, #e9e9e9);
  border: 1px solid #AAABAB;
  cursor: pointer;
  margin-left: 20px;
  padding: 10px;
  display: block;
  float: left;
}

.room-chat-input > label[for=messages] {
  line-height: 40px;
  font-weight: bold;
  font-size: 20px;
  display: block;
  float: left;
  height: 40px;
}

#messages {
  border: 1px solid #AAABAB;
  margin-left: 10px;
  display: block;
  float: left;
  padding-left: 10px;
  background: white;
  height: 40px;
  width: 80px;
}
